<div class="flex text-center items-center justify-between">
  <div>
    <img
      src="/logo.png"
      alt="Logo"
      class="w-[200px] h-[100px] cursor-pointer"
    />
  </div>
  <div>
    <ul class="flex items-center justify-center gap-2 cursor-pointer">
      <li>
        <div
          class="bg-[#BE91D0] rounded-full text-white px-6 py-2 hover:bg-[#9B6BA1] transition duration-300"
        >
          Home
        </div>
      </li>
      <li>
        <div
          class="bg-[#BE91D0] rounded-full text-white px-6 py-2 hover:bg-[#9B6BA1] transition duration-300"
        >
          About Us
        </div>
      </li>
      <li>
        <div
          class="bg-[#BE91D0] rounded-full text-white px-6 py-2 hover:bg-[#9B6BA1] transition duration-300"
        >
          Contact
        </div>
      </li>
      <li class="flex items-center justify-center gap-2">
        <div
          *ngIf="!loggedIn"
          class="bg-[#BE91D0] rounded-full text-white px-6 py-2 hover:bg-[#9B6BA1] transition duration-300"
          (click)="onLoginClick()"
        >
          Login
        </div>
        <div
          *ngIf="loggedIn"
          class="bg-[#BE91D0] rounded-full text-white p-2 hover:bg-[#9B6BA1] transition duration-300"
        >
          <img
            src="/usericon.png"
            class="w-8 h-8 transition duration-300 transform brightness-0 invert hover:scale-110"
            alt="usericon"
          />
        </div>
      </li>

      <li>
        <div
          class="bg-[#BE91D0] rounded-full p-3 text-white hover:bg-[#9B6BA1] transition duration-300"
        >
          <img
            src="/CartIcon.png"
            alt="Carticon"
            class="w-8 h-8 transition duration-300 transform brightness-0 invert hover:scale-110"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
